footer
    div.container
        p
            | &copy; 2013 K. Ono UC, San Diego Trey Ideker Lab. Code licensed under
            a(href='http://opensource.org/licenses/MIT')  MIT License.  Documentation under
            a(href='http://creativecommons.org/licenses/by/3.0/')  CC BY 3.0.
