extends layout

block content
    div.container
        div.hero-unit
            h3= title

        div.network-view

        script(src='scripts/arbor.js')
        script(src='scripts/cytoscape.min.js')
        script(src='scripts/draw_graph.js')
