//
   Created with JetBrains WebStorm.
   User: kono
   Date: 2013/05/06
   Time: 15:09
   To change this template use File | Settings | File Templates.

extends layout

block content
  h1= title
  p Result of #{title}
  //p Data #{idlist}
  //
  //
  //table#results
  //    tr
  //        th ID
  //        th def