@font-face {
    font-family: Lato, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
}

.flat-btn {
    font-family: nexo;
    font-size: 16px;
    background-color: #ffffff;
    color: red;
    padding: 0px;
    border: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.flat {
    border-radius: 0 !important;
}

#query {
    float: left;
}

.font-button {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    color: #343434;
}

/* Main network view*/
.overview {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle farthest-corner at center center, #ffffff 50%, #b7b8b2 100%);
    background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Search Panel */
#mainpanel {
    margin-top: 5px;
    margin-left: 5px;
    width: 320px;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 20;
    position: fixed;
    top: 0;
}

#network-title {
    color: #556666;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 18px;
    padding-top: 5px;
}

#summary-panel {
    display: none;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    right: 0;
    width: 700px;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(250, 250, 250, 0.98);
    padding: 0;
    z-index: 10;
}

.headertext {
    color: #333333;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2em;
    padding-bottom: 10px;
    padding-top: 10px;
}

#close-button {
    z-index: 999;
    width: 32px;
    height: 32px;
    margin-top: 14px;
    margin-right: 0;
    margin-left: 7px;
    margin-bottom: 0;
    cursor: pointer;
    background-image: url('../images/close32.png');
}

#commands {
    opacity: 0.9;
    z-index: 100;
    position: fixed;
    left: 10px;
    bottom: 10px;
    margin: 0 auto;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

#commands .z, .s {
    width: 70px;
    height: 70px;
    margin: 5px;
    cursor: pointer;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
}

#commands .z[rel=center] {
    background-image: url('../images/fit.png');
}

#commands .z[rel=in] {
    background-image: url('../images/zoomin.png');
}

#commands .z[rel=out] {
    background-image: url('../images/zoomout.png');
}

#commands .s[rel=swap] {
    background-image: url('../images/swap.png');
}

#commands .s[rel=refresh] {
    background-image: url('../images/switch.png');
}

#commands .s[rel=settings] {
    background-image: url('../images/settings.png');
}

.tabbable {
    padding-right: 10px;
    padding-left: 10px;
}

#details {
    font-size: 12px;
    line-height: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}

#subnetwork-view {
    background: radial-gradient(circle farthest-corner at center center, #8a8a8a 0%, #222222 100%);
    width: 100%;
    height: 450px;
}

#term-view {
    background: radial-gradient(circle farthest-corner at center center, #8a8a8a 0%, #777777 100%);
    width: 100%;
    height: 350px;
}

#details svg {
    width: 100%;
    margin-top: 0.5em;
    margin-right: 0em;
    margin-left: 0;
    margin-bottom: 0;
}

#result-tab {
    margin: 0;
}

#results {
    font-size: 12px;
    max-height: 350px;
    margin-top: 4px;
    background-color: rgba(222,222,222, 0.1);
    opacity: 1.0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#result-table tr {
    cursor: pointer;
}

#result-table tr:hover {
    background-color: rgba(70, 130, 180, 0.8);
    color: #ffffff;
}

#result-table tr.selected {
    background-color: rgba(255, 94, 25, 0.8);
    font-weight: 700;
    color: #efefef;
}

#trees {
    cursor: pointer;
    width: 200px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#commands .popover-content {

    font-family: Lato;
    font-weight: 400;
    font-size: 14px;
}
#commands .popover-content li{

    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    line-height: 2em;
}

#commands .popover-content li.selectedNetwork{
    color: rgb(255,94,25);
    font-weight: 700;
}
#commands .popover-content li:hover {
    background-color: rgb(70, 130, 180);
    color: #ffffff;
}

#draggable {
    width: 600px;
    height: 400px;
    padding-top: 0.5em;
    background-color: #434343;
    opacity: 0.95;
    z-index: 99;

    position: fixed;
    top: 0;

}

#draggable h2 {
    font-family: Raleway;
    color: white;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-left: 10px;
    font-weight: 300;
    border-bottom: 1px solid #ffffff;
    border-left: 15px solid #ffffff;
    opacity: 1.0;
}

#cyjs {
    width: 100%;
    height: 100%;
}
