.join,
.link,

.node rect {
    fill: none;
    stroke: #636363;
    stroke-width: 1px;
}

.link {
    stroke: #969696;
}

.node rect {
    fill: white;
}

.link path,
.node rect,
.node text,
.join {
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    transition: all 500ms linear;
}

.node .element rect {
    fill: #bdbdbd;
    stroke: none;
}

.node .null rect {
    fill: none;
    stroke: none;
}

.node text {
    fill: #636363;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 24px;
}

.node .selection rect {
    stroke: #e6550d;
}

.node .data rect {
    stroke: #3182bd;
}

.node .active rect {
    stroke: #3182bd;
    stroke-width: 4px;
}

.node .active text {
    font-weight: 400;
}

.node .nexo rect {
    stroke: #555555;
    stroke-width: 4px;
}

.node .nexo text {
    font-size: 24px;
    font-weight: 400;
}

.node .aligned rect {
    stroke-width: 3px;
}

.node .datum rect {
    fill: #d9d9d9;
    stroke: none;
}

.node .unknown rect {
    stroke: #777777;
    stroke-width:3px;
    stroke-dasharray: 2, 2;
}

.node .code text {
    font-family: "Helvetica Neue";
}

.node .key rect {
    fill: #a1d99b;
    stroke: none;
}

.link .to-key,
.join {
    stroke: #a1d99b;
}

.join {
    stroke: #777777;
    stroke-width:3px;
    stroke-dasharray: 2, 2;
}

.link .to-null {
    stroke-dasharray: .5, 3.5;
    stroke-linecap: round;
}

.link .from-data {
    stroke: #3182bd;
}

.link .active {
    stroke: red;
    stroke-width: 3px;
}

.play circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 3px;
}

.play:hover path {
    fill: #f00;
}

.play.mousedown circle {
    fill: #f00;
}

.play.mousedown path {
    fill: #fff;
}

.play rect {
    fill: none;
    pointer-events: all;
    cursor: pointer;
}

code span {
    -webkit-transition: background 250ms linear;
    -moz-transition: background 250ms linear;
    -ms-transition: background 250ms linear;
    -o-transition: background 250ms linear;
    transition: background 250ms linear;
}